# Rails のデフォルト設定
/.bundle
/.env*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/config/master.key

# ---- Node / React ----
node_modules/
dist/
.vite/

# ---- OS / Editor ----
.DS_Store
.idea/
.vscode/

